<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CRUD Operations Using Annotations/src/com/CRUD_Operations_Using_Annotations/DeleteOperationsWithStudentDTO.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.CRUD_Operations_Using_Annotations.DeleteOperationsWithStudentDTO"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CRUD Operations Using Annotations"/>
</launchConfiguration>
