<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JPA Named Query/src/com/Named_Query/TestEmployeeNamedQuery.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.Named_Query.TestEmployeeNamedQuery"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JPA Named Query"/>
</launchConfiguration>
